

html{
background: url(../img/principal.jpg);
background-position: center center;
background-attachment: scroll;
  background-size: cover;

}




body{
	
background: url(../img/principal.jpg);
background-attachment: scroll;
background-position: center center;
  background-size: cover;

	
  width: 100%;
  height: 100%;
    }

.fotos img{
	width: 100%;
	height: 120%;

}

#linea{
	border:1px solid black;
	width: 100%;

}

#linea1 img{
	border-radius: 10px;
	width: 200%;
}

#boton #publicar{
	float: right;
}

#contenedor{
	background-color: red;
	opacity: 0.7;
	color:white;
}

